/*change brandname font*/
.navbar-brand
{  
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}
/*change navigation color*/
.navbar #myMenu .custom-nav .nav-item a
{
	color: #fff;

}
.navbar #myMenu .custom-nav .nav-item a:hover
{
	color: #f0aab1;
	
}
/*make iamge header responsive*/
.back-image{
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 90vh;
  margin-top: 50px;

}
/*header image subtitle*/
.font-italic
{
	font-size: 25px;
}

.fi-color
{
	color: #dc3545;
}
.fi-color:hover
{
	color: #e994a2;
}
a
{
	color: black;
}
.active
{
	color: white;
	background-color: #dc3545;
}
a:hover
{
	color: #f26571;
}


/*margin for welcome to osms*/
.mainHeading
{
	margin-top: 50px;
}



/*Media query */
@media only screen and (max-width: 600px){
.myclass
	{
	margin-top: 300px;
	text-align: center;
	}
}
